/* Fonts  */

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&family=Cormorant+SC:wght@300;500&family=Ibarra+Real+Nova&family=Playfair+Display&family=Source+Serif+Pro:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

/*---------------------------- 
Banner Home Page First Section
------------------------------ */

.background-img {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.overlay-text {
    width: 100%;
    height: 100%;
    color: beige;
    white-space: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.banner-text {
    margin-top: 15px;
    font-size: 18px;
}

.overlay-text h1 {
    font-size: 50px;
}

.btn {
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    background-color: orangered;
    color: aliceblue;
    border-radius: 10px;
    padding: 10px 30px;
    border: none;
}

.btn:hover {
    color: #0d233a;
    background-color: orange;
    cursor: pointer;
}

/*---------------------------- 
Responsive For Max Width 480px
------------------------------  */

@media only screen and (max-width: 480px) {
    .overlay-text h1 {
        width: 80%;
        font-size: 40px;
    }
    .background-img {
        width: 100%;
        height: 80vh;
    }
}

/*--------------
 Secound Section
 --------------- */

.secound-section {
    background-color: aliceblue;
    width: 100vw;
    height: 100vh;
}

.heading-text {
    text-align: center;
    padding-top: 100px;
    color: #0d233a;
}

.heading-text h1 {
    font-size: 50px;
    font-weight: bold;
}

.heading-text p {
    margin-top: 22px;
    font-size: 16px;
}

.donation-amount {
    margin-top: 22px;
    margin-left: 340px;
    margin-right: 340px;
    display: flex;
    text-align: center;
    padding-inline: 10px;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.donat-card {
    width: 100px;
    height: 100px;
    border: 0 solid black;
    background-color: whitesmoke;
    border-radius: 10px;
}

.donat-card-selected {
    width: 100px;
    height: 100px;
    color: red;
    border: 2px solid red;
    border-radius: 10px;
    background-color: bisque;

}

.donat-card-selected h2 {
    font-size: 25px;
    margin-top: 30px;
}

.donat-card h2 {
    font-size: 25px;
    margin-top: 30px;
}

.input-field {
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    flex-direction: column;
}

.input-field input {
    width: 60%;
    text-align: center;
    height: 40px;
    margin-top: 80px;
    padding: 0 5px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #0d233a;
    background-color: aliceblue;
    outline: none;
}


.input-field button {
    margin-top: 30px;
}

/*---------------------------- 
Responsive For Max Width 480px
------------------------------  */

@media only screen and (max-width: 480px) {
    .heading-text {
        padding-top: 50px;
    }
    .donation-amount {
        margin-top: 22px;
        margin-left: 40px;
        margin-right: 40px;
        display: flex;
        text-align: center;
        padding-inline: 10px;
        padding: 10px;
        align-items: center;
        justify-content: space-evenly;
    }
    .donat-card {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }
    .donat-card-selected {
        width: 50px;
        height: 50px;
    }
    .donat-card h2 {
        font-size: 15px;
        margin-top: 12px;
    }
    .donat-card-selected h2 {
        font-size: 15px;
        margin-top: 12px;
    }
    .secound-section {
        width: 100%;
        height: 80vh;
    }
}

/*----------------- 
Third Section Start
------------------- */

.section-three {
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
}

.third-section-heading {
    text-align: center;
}

.third-section-heading h1 {
    font-size: 50px;
    color: #0d233a;
}

.third-section-heading p {
    margin-top: 15px;
}

.cards {
    margin-top: 50px;
    width: 300px;
    height: 350px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
}

.cards h2 {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: left;
}

.cards p {
    margin: 10px 10px 20px 20px;
    text-align: left;
}

.cards img {
    height: 60px;
    width: 60px;
    margin-top: 40px;
    align-items: center;
}

.cards a {
    color: orangered;
    text-decoration: none;

}

.flex-box {
    display: flex;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
}

.card1 {
    background-color: azure;
}

.card2 {
    background-color: blanchedalmond;
}

.card3 {
    background-color: aquamarine;
}

/*---------------------------- 
Responsive For Max Width 480px
------------------------------  */

@media only screen and (max-width: 480px) {
    .section-three {
        width: 100%;
        height: 180vh;
    }
    .third-section-heading h1 {
        font-size: 40px;
        padding-left: 20px;
    }
    .third-section-heading p {
        width: 90%;
        padding-left: 20px;
    }
    .flex-box {
        flex-direction: column;
    }
    .cards {
        margin-top: 50px;
        width: 250px;
        height: 350px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 5px 5px 5px gray;
    }
    .cards img {
        height: 45px;
        width: 45px;
        margin-top: 20px;
    }
    .flex-box {
        display: flex;
        justify-content: space-evenly;
        margin-left: 70px;
        margin-right: 70px;
    }
}

/*   -------------------------- 
Forth Section Events Section
----------------------------   */

.section-four {
    background-color: aliceblue;
    width: 100vw;
    height: 150vh;
}

.section-four-heading {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

.section-four-heading h1 {
    font-size: 50px;
}

.section-four-heading p {
    font-size: 16px;
    margin-top: 20px;
}

.img1 {
    text-align: center;
    width: 200px;
    height: 280px;
    border: 1px solid #0d233a;
    border-radius: 8px;
    box-shadow: 5px 5px 5px gray;
}

.img1 h2 {
    color: orangered;
}

.img1 p {
    padding-left: 10px;
}

.img1 a {
    text-decoration: none;
    color: orangered;
    padding-left: 10px;
    text-align: center;
}

.img1 img {
    border-radius: 8px;
    width: 200px;
    height: 150px;
}

.sec-four-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
    padding: 100px 100px 100px 190px;
}

/*---------------------------- 
Responsive For Max Width 480px
------------------------------  */

@media only screen and (max-width: 480px) {
    .section-four {
        background-color: aliceblue;
        width: 100%;
        height: 280vh;
    }
    .section-four-heading {
        text-align: center;
        width: 80%;
        margin-left: 40px;
    }
    .sec-four-grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 90px;
    }
}


/*-----------
 Last Section
 ------------  */

.last-section {
    background-color: aliceblue;
    width: 100vw;
    height: 70vh;
}

.last-sec-heading {
    text-align: center;

}

.last-sec-heading h1 {
    font-size: 50px;
    color: #0d233a;
}

.last-sec-heading p {
    font-size: 18px;
    margin-top: 20px;
    color: #0d233a;
}

.contact-subscribe-sec {
    background-color: bisque;
    justify-content: center;
    text-align: center;
    width: 700px;
    height: 100px;
    border-radius: 5px;
    margin: 100px 350px 60px 350px;
    padding-top: 70px;
}

.contact-subscribe-flex {
    display: flex;
    padding-left: 110px;
    align-items: center;
}

.button {
    font-size: 14px;
    background-color: orangered;
    color: #0d233a;
    border: 1px solid #0d233a;
    margin-left: -4px;
    padding: 10px 30px;
}

.button:hover {
    color: #0d233a;
    background-color: orange;
    cursor: pointer;
}

.contact-subscribe-sec input {
    text-align: center;
    border: 1px solid #0d233a;
    background-color: aliceblue;
    padding: 11px 80px;
}

/*---------------------------- 
Responsive For Max Width 480px
------------------------------  */

@media only screen and (max-width: 480px) {
    .last-section {
        background-color: aliceblue;
        width: 100%;
        height: 70vh;
    }
    .contact-subscribe-sec {
        background-color: bisque;
        justify-content: center;
        text-align: center;
        width: 80%;
        height: 60px;
        border-radius: 5px;
        margin: 20px 40px;
        padding-top: 70px;
    }
    .last-sec-heading  {
        padding-left: 60px;
    }
    .last-sec-heading h1 {
        font-size: 40px;
        width: 80%;
    }
    .last-sec-heading p {
        font-size: 16px;
        margin-top: 20px;
        width: 80%;
        padding-bottom: 100px;
    }
    .contact-subscribe-flex {
        display: flex;
        padding-left: 25px;
        align-items: center;
    }
    
    .button {
        font-size: 14px;
        background-color: orangered;
        color: #0d233a;
        border: 1px solid #0d233a;
        margin-left: -4px;
        padding: 6px 10px;
    }
    .contact-subscribe-sec input {
        text-align: center;
        border: 1px solid #0d233a;
        background-color: aliceblue;
        padding: 7px 15px;
    }
}


/*---- 
Footer
------ */

footer {
    font-family: 'Source Serif Pro', serif;
    height: 100%;
    width: 100%;
    background-color: black;
    text-align: center;
}

footer h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: red;
}

footer small {
    padding-top: 10px;
    color: aliceblue;
}